[submodule "3rd_session/robert_bennetto_eckhard_briedenhann"]
	path = 3rd_session/robert_bennetto_eckhard_briedenhann
	url = https://github.com/eckhard-briedenhann/referenceClasses
[submodule "4th_session/andrew-collier"]
	path = 4th_session/andrew-collier
	url = https://github.com/datawookie/talk-plumber-api.git
